body[data-arc-theme='dark'] {
  --white: #fff;
  --off-white-200: #e0e1ddff;
  --off-white-100: #f6f6f6;
  --gray-100: #555454;
  --black: #000;
  --background: var(--white);
  --color: var(--black);
  --text-offset: var(--gray-100);

  background: var(--background);
  color: var(--color);

  nav.navbar {
    border-top: 3px solid black;
    box-shadow: var(--box-shadow-20);

    span.navitem.logo {
      > span.letter {
        color: var(--color-base-blue-primary);
      }
    }
  }

  section.overlay {
    div.overlay-actions {
      border-bottom: 2px solid black;
    }

    div.series-root-container {
      border-bottom: 2px solid black;
    }
  }

  section.article-container {
    --inner-article-max-width: 700px;
    --article-headline-image-width: 1024px;
    background-color: var(--off-white-100);

    span.article-supp-divider {
      min-height: 24px;
      min-width: 2px;
      background-color: #000;
    }

    div.article-author-container {
      > p {
        color: var(--text-offset);
      }
    }

    span.article-headline-image-publisher {
      color: var(--text-offset);
    }
  }
}
