.h-link {
    font-size: var(--font-size-body-normal);
    font-weight: var(--font-weight-body-normal);
    text-decoration: none;
    transition: text-decoration 300ms;
    color: var(--color-link-normal);
}

.h-link:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: text-decoration 300ms;
}

.h-link:link {
    color: var(--color-link-normal);
}

.h-link:active {
    color: var(--color-link-active);
}

.h-link:visited {
    color: var(--color-link-visited);
}