<header class="nav">
    <span class="navitem" id="menu">
        <img src="/assets/icons/menu.svg" height="24px" width="24px" style="aspect-ratio: 1 / 1;">
    </span>

    <small class="navitem" id="nav-heading">
        Project Arcturus
    </small>

    <span class="navitem" id="nav-search">
       <img src="/assets/icons/search.svg" height="24px" width="24px" style="aspect-ratio: 1 / 1;">
    </span>
</header>