@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-base-blue-primary);
  }
}

main {
  margin: 0;
  height: 100%;
  width: 100%;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1c1c1c;
}

section#arc-terminal__root {
  background-color: black;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;

  > span.arc-terminal__banner {
    max-height: 30px;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 30px;
    flex-shrink: 0;
    background-color: #dedede;
    box-sizing: border-box;
    padding: 6px;
    border-bottom: 1px solid #f8f8f8;

    > small {
      color: black;
      font-weight: 500;
    }
  }

  > div.arc-terminal__shell {
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;

    > p.booting-program-line {
      position: relative;
      color: greenyellow;
      text-align: left;
      font-size: 20px;
      font-family: 'Space Mono', monospace;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing 0.5s 1s steps(20, end) forwards;
      margin-block: 0px;

      span {
        font-size: 16px;
        color: white;
      }
    }

    > p.project-version-line {
      position: relative;
      color: greenyellow;
      text-align: left;
      font-size: 20px;
      font-family: 'Space Mono', monospace;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing 0.5s 2s steps(20, end) forwards;
      margin-block: 0px;

      span {
        font-size: 16px;
        color: white;
      }
    }

    > p.command-prompt {
      position: relative;
      text-align: left;
      font-size: 1.25em;
      font-family: 'Space Mono', monospace;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing 1s 4s steps(20, end) forwards;

      > span.cursor {
        animation: blink 1s 4.25s infinite;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  section#arc-terminal__root {
    height: 500px;
    width: 744px;
  }
}
