nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: calc(var(--spacing-unit) * 0.5);

  span.navitem.logo {
    box-sizing: border-box;
    margin-left: var(--spacing-unit);
    margin-right: var(--spacing-unit);
    cursor: pointer;

    > span.letter {
      font-size: 24px;
      font-weight: 800;
    }
  }

  span.navitem.menu {
    margin-left: var(--spacing-unit);
    cursor: pointer;
  }

  span.navitem.title {
    margin-left: auto;
    overflow: visible;

    > a {
      font-size: 18px;
      font-weight: 500;
      text-decoration: underline;
      margin-block: 0px;
      width: 110%;
      letter-spacing: -0.01em;
    }
  }

  span.navitem.subscribe {
    margin-left: auto;
  }
}
