section.overlay {
  box-sizing: border-box;
  margin: 0;
  padding: calc(var(--spacing-unit) * 1.5);

  a {
    transition: transform 300ms;
  }

  a:hover {
    font-size: 20px;
    transform: translateY(-4px);
    transition: transform 300ms;
  }

  div.overlay-actions {
    box-sizing: border-box;
    padding-bottom: calc(var(--spacing-unit) * 2);
  }

  div.series-root-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: calc(var(--spacing-unit) * 3);
  }

  div.series-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: stretch;
    box-sizing: border-box;
    margin-top: calc(var(--spacing-unit) * 2);

    > h1 {
      font-size: 32px;
      letter-spacing: -0.04;
      margin-block: 2px;
    }

    div.series-description-container {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      flex: 1 600px;
      max-width: 600px;
      padding: var(--spacing-unit);
      padding-left: calc(var(--spacing-unit) * 3);
      padding-right: calc(var(--spacing-unit) * 3);
      opacity: 0;

      p {
        font-style: italic;
      }
    }

    div.series-links-container {
      --width: 220px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      min-width: var(--width);
      max-width: var(--width);
      width: var(--width);
    }
  }
}
