.couch-gag-401__wrapper {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: inherit;
}

.couch-gag-401__content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 210px;
  align-items: center;
  min-height: auto;
  flex-wrap: nowrap;
  color: white;
}

.couch-gag-401__error-code-text {
  font-family: Chunk;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.15;
  vertical-align: middle;
}

.couch-gag-401__scripted-text {
  font-family: League-Spartan;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.15;
  vertical-align: middle;
}

.couch-gag-401__vertical-line {
  display: block;
  min-width: 2px;
  background-color: white;
  min-height: 48px;
  margin-left: var(--spacing-500);
  margin-right: var(--spacing-500);
}
