.hero__container {
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  isolation: isolate;
  background-color: var(--color-base-black-eta);
  overflow: hidden;
  flex-wrap: nowrap;
}

.hero__image-background {
  left: 0;
  object-fit: cover;
  z-index: 1;
  aspect-ratio: 16 / 7;
  position: absolute;
}

.hero__mini-col {
  height: 100%;
  width: fit-content;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}

.hero__lp-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.hero__lp-row button {
  margin-right: 6px;
  opacity: 0;
  animation: fade-in-up 600ms ease-in 2s 1 forwards;
}

.hero__title {
  margin-block: 8px;
  width: fit-content;
  padding-right: 8px;
  box-sizing: border-box;
  line-height: 1.845;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--color-base-blue-primary); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  color: var(--color-base-blue-primary);
  animation: typing 1.5s steps(11, end), blink-caret 900ms step-end infinite;
  letter-spacing: -0.04em;
  font-size: var(--font-size-heading-max);
}

.hero__text {
  --color-font-dark-contrast-high: var(--color-base-gray-gamma);
  max-width: 84%;
  color: var(--color-base-gray-gamma);
  opacity: 0;
  animation: fade-in-up 600ms ease-in 2s 1 forwards;
}
