/* **************************************
* Table of Contents
* 1. Css Variables (Local, Non Heller UI)
* 2. Fonts (Local)
* 3. Margin and Padding Utility Classes
************************************** */

/* **************************************
* Css Variables (Local, Non Heller UI)
************************************** */

:root {
  --green-dark: #4da1a9ff;
  --pink-bright: #ef57a1ff;
  --red-bright: #ff3333ff;
  --orange-bright: #ff7a33ff;
  --orange: #fca311ff;
  --gold: #ffd633ff;
  --black: #000018;
  --blue-bright: #2248f1ff;
  --purple: #aa63fdff;
  --purple-bright: #3f1fb2ff;
  --purple-dark: #290f8eff;
  --purple-ultradark: #0e0035ff;
  --pink: #fe8febff;
  --pink-ultralight: #ffdafdff;
  --pink-light: #f96deaff;
  --pink-light-alternate: #e579ffff;
  --gray: #1f2833;
  --green-cyberpunk-theme: #00ff9f;
  --blue-light-cyberpunk-theme: #00b8ff;
  --blue-cyberpunk-theme: #001eff;
  --purple-dark-cyberpunk-theme: #bd00ff;
  --purple-cyberpunk-theme: #d600ff;
  --black-lasercat-theme: #010326;
  --black-alternate-lasercat-theme: #020426;
  --blue-dark-lasercat-theme: #150259;
  --blue-dark-alternate-lasercat-theme: #1d0673;
  --purple-lasercat-theme: #2b2073;
  --purple-alternate-lasercat-theme: #21038c;
  --pink-lasercat-theme: #d92365;
  --pink-alternate-lasercat-theme: #f20775;
  --red-lasercat-theme: #8c0343;
  --teal-lasercat-theme: #99f2e9;

  --spacing-none: 0px;
  --spacing-100: 4px;
  --spacing-200: 8px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-500: 20px;

  --font-size-heading-max: 64px;
}

/* **************************************
* Fonts (Local)
************************************** */

@font-face {
  font-family: Relieve;
  src: url('fonts/_Relieve.ttf');
  font-display: swap;
}

@font-face {
  font-family: League-Spartan;
  src: url('fonts/_LeagueSpartan-VF.ttf');
  font-display: swap;
}

@font-face {
  font-family: Franchise;
  src: url('fonts/_Franchise-Free-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Chunk;
  src: url('fonts/_ChunkFive-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Abril;
  src: url('fonts/_AbrilFatface-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Bel;
  src: url('fonts/_Belanosima-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Pacifico;
  src: url('fonts/_Pacifico-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Alliance;
  src: url('fonts/_AllianceNo1.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk Regular';
  src: url('fonts/_AlteHaasGroteskRegular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk Bold';
  src: url('fonts/_AlteHaasGroteskBold.ttf');
  font-display: swap;
}

.chunk {
  font-family: Chunk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ls {
  font-family: League-Spartan, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pac {
  font-family: Pacifico, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.haas-bold {
  font-family: 'Alte Haas Grotesk Bold';
}

.haas {
  font-family: 'Alte Haas Grotesk Regular';
}

/* **************************************
* Margin and Padding Utility Classes
************************************** */

.m-1 {
  margin: var(--spacing-100);
}
.m-2 {
  margin: var(--spacing-200);
}
.m-3 {
  margin: var(--spacing-300);
}
.m-4 {
  margin: var(--spacing-400);
}
.m-5 {
  margin: var(--spacing-500);
}
.mt-1 {
  margin-top: var(--spacing-100);
}
.mt-2 {
  margin-top: var(--spacing-200);
}
.mt-3 {
  margin-top: var(--spacing-300);
}
.mt-4 {
  margin-top: var(--spacing-400);
}
.mt-5 {
  margin-top: var(--spacing-500);
}
.mb-1 {
  margin-bottom: var(--spacing-100);
}
.mb-2 {
  margin-bottom: var(--spacing-200);
}
.mb-3 {
  margin-bottom: var(--spacing-300);
}
.mb-4 {
  margin-bottom: var(--spacing-400);
}
.mb-5 {
  margin-bottom: var(--spacing-500);
}
.ml-1 {
  margin-left: var(--spacing-100);
}
.ml-2 {
  margin-left: var(--spacing-200);
}
.ml-3 {
  margin-left: var(--spacing-300);
}
.ml-4 {
  margin-left: var(--spacing-400);
}
.ml-5 {
  margin-left: var(--spacing-500);
}
.mr-1 {
  margin-right: var(--spacing-100);
}
.mr-2 {
  margin-right: var(--spacing-200);
}
.mr-3 {
  margin-right: var(--spacing-300);
}
.mr-4 {
  margin-right: var(--spacing-400);
}
.mr-5 {
  margin-right: var(--spacing-500);
}
.p-1 {
  padding: var(--spacing-100);
}
.p-2 {
  padding: var(--spacing-200);
}
.p-3 {
  padding: var(--spacing-300);
}
.p-4 {
  padding: var(--spacing-400);
}
.p-5 {
  padding: var(--spacing-500);
}
.pt-1 {
  padding-top: var(--spacing-100);
}
.pt-2 {
  padding-top: var(--spacing-200);
}
.pt-3 {
  padding-top: var(--spacing-300);
}
.pt-4 {
  padding-top: var(--spacing-400);
}
.pt-5 {
  padding-top: var(--spacing-500);
}
.pb-1 {
  padding-bottom: var(--spacing-100);
}
.pb-2 {
  padding-bottom: var(--spacing-200);
}
.pb-3 {
  padding-bottom: var(--spacing-300);
}
.pb-4 {
  padding-bottom: var(--spacing-400);
}
.pb-5 {
  padding-bottom: var(--spacing-500);
}
.pl-1 {
  padding-left: var(--spacing-100);
}
.pl-2 {
  padding-left: var(--spacing-200);
}
.pl-3 {
  padding-left: var(--spacing-300);
}
.pl-4 {
  padding-left: var(--spacing-400);
}
.pl-5 {
  padding-left: var(--spacing-500);
}
.pr-1 {
  padding-right: var(--spacing-100);
}
.pr-2 {
  padding-right: var(--spacing-200);
}
.pr-3 {
  padding-right: var(--spacing-300);
}
.pr-4 {
  padding-right: var(--spacing-400);
}
.pr-5 {
  padding-right: var(--spacing-500);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: League-Spartan, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
}

.couch-page {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  position: relative;
}

.couch-page-main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  width: calc(100% - 56px);
  z-index: 0;
  background-color: var(--color-base-black-eta); /* heller ui token */
}

.scale-on-hover:hover {
  transform: scale(1.25);
  transition: transform 300ms;
}

.pointer {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}
