<!doctype html>
<html lang="en">
    <%- include('partials/head', { document_title: title, document_description: description, imports: imports }); %>
  <body>
    <%- include('partials/header') %>
    <main>
      <section class="splash-container">
        <div data-intent="project-image"></div>
        <h1 data-intent="project-title">Project Arcturus</h1>
        <p data-intent="project-description">
          A content microengine, supported and maintained by the team at <b>Arcturus</b>
        </p>
      </section>
      
      <section class="subscribe-container">
        <form data-intent="subscribe-to-newsletter-form" name="subscribe-form" id="subscribe-form">
          <label>
            Subscribe to our Newsletter 
            <span>Or grab our <a href="#">RSS Feed</a></span>
          </label>
          <fieldset>
            <input type="email" placeholder="Type your email" required>
            <button type="submit">Subscribe</button>
          </fieldset>
        </form>
      </section>
      
      <section id="posts" class="posts-container">
        <% posts.forEach(function (post) { %>
          <%- include('partials/card', { post: post }) %>
        <% }); %>
      </section>
    </main>

    <aside id="sidebar" class="sidebar">

    </aside>

    <div id="sidebar-overlay" class="sidebar-overlay">

    </div>
    
  </body>
</html>
<script type="module" src="js/performance/web-vitals.js"></script>
<script type="module" src="js/events/DOMContentLoaded.js"></script>
